.navbar {
	background: black;

}

@font-face {
	font-family: logo;
	src: url(logoFont.ttf);
}

#logo {
	margin-left: 20%;
	text-align: left;
	font-size: 100%;
	color: white;
}

#welcome {
	font-size: 250%;
	margin-bottom: 30px;
}

.fancyButton {
	background: black;
	position: relative;
	color: white;
	border-color: black;
}

.fancyButton:hover {
	color: black;
	border-color: black;
	background: white;
}