.navbar {
	background: black;

}

@font-face {
	font-family: logo;
	src: url(logoFont.ttf);
}

#logo {
	margin-left: 10%;
	text-align: left;
	font-size: 100%;
	color: white;
}

.btn-primary {
	color: white;
	background: black;
}

.btn-primary {
	position: relative;
	color: white;
	border-color: black;
}

.btn-primary:hover {
	color: black;
	border-color: black;
	background: white;
}